.heading_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    text-align: left;
}

.heading_container h2 {
    text-transform: uppercase;
    font-size: 4rem;
}


/*header section*/
.hero_area.sub_pages {
    height: auto;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #1C394E;
}

.header_section .nav_container {
    margin: 0px auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 30px;
    margin: 0 15px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
    background-color: #1b1b1b;
    color: #ffffff;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;;
    color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand {
    margin-bottom: 15px;
}

.navbar-brand img {
    width: 100px;
}

.custom_nav-container {
    z-index: 99999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 35px;
}

/*Header End*/

.main{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    margin-top: 20px;
    padding-top: 20px;
    background-color: #1C394E;
    color: white;
    height: 100%;
    width: 9cm;
}
.sidebar img{
    align-items: center;
}

.sidebar h3{
    margin-top: 20px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.box-body{
    margin-top: 20px;
    text-align: left;
}
.box-body p{
    margin-top: 20px;
    color: #fafcfd;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
